@import "variables";

html {
  height: 100%;
}

body {
  height: 100%;
}

/*#region Header Styles*/
#header {
  nav {
    box-shadow: 0px 3px 6px #00000029;
    .navbar-brand {
      margin-right: 8rem;
    }
    .navbar-nav {
      .nav-item {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0px;
        }
        a {
            color: $primary;
            font-weight: 500;
            font-size: 14px;
            transition: color .1s linear;
        }
        a:hover {
            color:$secondary-dark;
        }
      }
    }
  }
}
/*#endregion Header Styles */

/*#region Hero Styles*/
#hero {
    .hero-container {
        height: 45rem;
        width: 100%;
        background-image: url("../images/hero-bg.svg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        .webinar-headers {
            h6 {
                font-size: 21px;
                color: $primary;
                font-weight: 700;
            }
            h3 {
                font-size: 40px;
                color:$white;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 1rem;
            }
            h4 {
                font-size: 36px;
                color:$primary;
                font-weight: bold;
                margin-bottom: 1rem;
            }
            h5 {
                font-size: 30px;
                color: $white;
                font-weight: normal;
            }
        }
    }
}
/*#region Hero Styles*/